[submodule "derivatives/fmriprep-20.2lts"]
	path = derivatives/fmriprep-20.2lts
	url = git@github.com:courtois-neuromod/anat.fmriprep-lts.git
	datalad-id = 1809f200-291c-11eb-b35e-00000d37fe80
	branch = .


